<section class="section">
  <div class="container content">
  <h1 class="title is-spaced">Up Coming Events</h1>
    <div id="events" class="columns is-multiline">
      <% @events.upcoming.each do |event| %>
        <div class="column">
        <%= link_to (render event), event  %>
        </div>
      <% end %>
    </div>
  <h1  class="title is-spaced">Passed Events</h1>
    <div id="events" class="columns is-multiline">
      <% @events.passed.each do |event| %>
        <div class="column">
        <%= link_to (render event), event %>
        </div>
      <% end %>
    </div>
  </div>
</section>
