<section class="section">
  <div class="container"> <br>

   <div class="columns">
    <div class="column is-three-quarters">
      <%= render @event %><br>
    </div>
    <div class="column"> 
       <%= render 'shared/card' %><br>
    </div>
  </div>

  <% if user_signed_in? && @event.creator.id == current_user.id %>
    <%= render 'shared/event_buttons' %>
  <% end %>

  </div>
</section>
