<div id="<%= dom_id event_attending %>">
  <p>
    <strong>Attendee:</strong>
    <%= event_attending.attendee_id %>
  </p>

  <p>
    <strong>Attended event:</strong>
    <%= event_attending.attended_event_id %>
  </p>

</div>
